
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method="post">
    <label>Usuário:</label>
    <input type="text" name="UserName" value="" />
    <label>Senha:</label>
    <input type="password" name="Password" value="" />

    <button type="submit">LOGIN</button>
</form>
