@model CRUD_ADO.Models.UserModel

@{
    ViewData["Title"] = "CadastrarUsuario";
}

<h1>RECUPERAÇÃO DE SENHA/USUÁRIO</h1>



<div class="row ">
    <div class="col-md-4 m-auto">
        <form method="post" asp-action="AlterarSenhaEUsuarioDefinitivamente">
       
            <div class="form-group">
                <label >EMAIL</label>
                <input  type="text" name="email" value="" class="form-control" placeholder="DIGITE SEU EMAIL" />
            </div>
            <div class="mt-1">
                <button class="btn btn-success" type="submit">ALTERAR</button>
            </div>
        </form>
    </div>
</div>

